@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #5252af;
    --bg-secondary: #1414182d;
    --transition-speed: 600ms;
}



body {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    -webkit-animation: slidein 25s;
    animation: slidein 25s;
    background-attachment: fixed;
    background-position: center;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

html {
    scroll-behavior: smooth;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}





.content {
    position: relative;
  }
  
  .content h2 {
    color: #fff;
    font-size: 5em;
    margin-left: 270px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #0d0d105b;
  }
  
  .content h2:nth-child(2) {
    color: #3a2ec3;
    animation: animate 4s ease-in-out infinite;
  }
 .logo {
    display: none;
}


@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.center {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(75, 75, 250, 0.3);
    border-radius: 3px;
    z-index: -1;
    position: fixed;
}

.center h1 {
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

.navbar {
    position: fixed;
    bottom: 0;
    /* background-color: var(--bg-primary); */
    transition: width 600ms ease;
    overflow: scroll;
    z-index: 99;
    background-color: #7878d52f;
    padding: 10px;
    color: white;
    backdrop-filter: blur(50px);
    /* margin-right: 10px; */
    /* border-radius: 45px; */
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(25%) opacity(0.8);
    transition: var(--transition-speed);
    color: white;
    backdrop-filter: blur(50px);
    border-radius: 25px;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    

    }

    body {
        padding-bottom: 5rem;
    }

    .content h2 {
        color: #fff;
        font-size: 3em;
        margin-left: 120px;
        position: absolute;
        transform: translate(-50%, -50%);

    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
       
    }

    .navbar::-webkit-scrollbar {
        display: none;
    }

    html::-webkit-scrollbar {
        display: none;
    }

    .nav-link {
        justify-content: center;
       
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }


    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

/* .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
} */

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}
/* Modal styling */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  /* Modal content */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  #img-modal-btn {
    background-color: #1c73dd;
    padding: 20px 30px; 
    border: none;
    color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
    font-size: 19px;
    
  
  }
  .bt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #img-modal-btn:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  }
  
  #img-modal-btn:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }